dist/
dist-newstyle/
*.o
*.hi
*.dyn_o
*.dyn_hi
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.stack-work/
stack*.yaml.lock
*.agdai
*~
\#*\#
html/
live-start.zip
/L1/LazyIO
/L1/SpaceLeaks
/LazyEvaluator/Lazy/
/LazyEvaluator/examples/Ex1
