# Generic ignores
*~
\#*\#

# Build products
*.agdai
*.dyn_hi
*.dyn_o
*.hi
*.o
.cabal-sandbox/
.stack-work/
cabal.sandbox.config
dist-newstyle/
dist/
stack*.yaml.lock

# Local configuration
.ghci
.vscode/
cabal.project.local

# Others
html/
live-start.zip
/L1/files/
/L1/LazyIO
/L1/SpaceLeaks
/LazyEvaluator/Lazy/
/LazyEvaluator/examples/Ex1
/tmp/